<span class="mobile btn-mobile-menu">
  <i class="fas fa-bars btn-mobile-menu__icon"></i>
  <i class="far fa-times-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">PhD candidate </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">
          <!--<nav class="cover-navigation cover-navigation--primary">-->
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <li class="navigation__item"><a href="https://scholar.google.com/citations?user=zYG1Op8AAAAJ&hl=en" title="link to Scholar"><i class="fas fa-link fa-lg"></i>&nbsp;Scholar</a></li>
              <li class="navigation__item"><a href="https://twitter.com/caraantonaccio" title="link to Twitter"><i class="fas fa-link fa-lg"></i>&nbsp;Twitter</a></li>              
              <li class="navigation__item"><a href="{{ site.baseurl }}/#projects" title="link to Projects" class="panel-button projects-button"><i class="fas fa-file-code fa-lg"></i>&nbsp;Projects</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/#experience" title="link to Exoperience" class="panel-button experience-button"><i class="fas fa-file-code fa-lg"></i>&nbsp;Experience</a></li>

            </ul>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
